<div class="modal-header">
    <h5 class="modal-title">Edit Todo</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body ">
    <form action="{% url 'edit-todo' user.pk%}" method="POST">
        {% csrf_token %}
        <input type="text" name="text" id="" class="form-control" value="{{user.username}}">
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-success save_update">Save changes</button>
        
        </div>
    </form>
</div>


<script>
    $(function () {
        
            $('form').on("submit",function (e) {
                e.preventDefault()
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data:$(this).serialize(),
                    dataType: 'json',
                    beforeSend: function () {
                        console.log($(this).serialize(),);
                    },
                    success: function (response) {
                        $("#modal-book").modal("hide");  // <-- Close the modal
                        DisplayDataOnPageLoad()

                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
                return false;
            })
        
    })
</script>