{% extends 'TodoApp/base.html'%}
{% block content %}
<div class="main">

</div>
<!-- Modal -->
 <!-- THE MODAL WE WILL BE USING -->
 <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
<script>
    // display Todo onpageload

    function DisplayDataOnPageLoad() {
        $.ajax({
            url: '/DisplayTodo/',
            type: 'get',
            dataType: 'json',
            beforeSend: function () {
                console.log('load data');
            },
            success: function (response) {
                if (response) {
                    console.log('display data');
                    $('.main').html(response.partial_data)
                }
            },
            error: function (error) {
                console.log(error);
            }

        })
    }

    DisplayDataOnPageLoad()

</script>

<style>
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
</style>


{% endblock %}