
<ul class="list-group">
    
    <li class="list-group-item ">
        <form class="form-inline" action="{% url 'create-todo'%}" method="POST">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="text" placeholder="Add Todo" aria-label="submit" name="text">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
          </form>
    </li>
    {% for user in users %}
    
    <li class="list-group-item">{{user.username}}
         <span  style="float: right;">
            <i class="fa fa-trash delete_todo" style="margin-right: 1rem;color: red;cursor: pointer;" data-url="{% url 'delete-todo' user.pk %}"></i>
            
            <i class=" fa fa-pencil edit_todo" title="Edit" style="color: green;cursor: pointer;" data-url="{% url 'edit-todo' user.pk %}"></i>
          </span>
        </li>
    {% endfor %}
  </ul>

  <script>
       // create Todo
    $(function(){
       $('form').on('submit',function(e){
           e.preventDefault()
           var form=$(this)
           $.ajax({
               url:form.attr('action'),
               type:form.attr('method'),
               data:form.serialize(),
               dataType:'json',
               beforeSend:function(){
                console.log(form.serialize());
               },
               success:function(response){
                if(response.status){
                    console.log('data inserted successfully');
                    DisplayDataOnPageLoad()
                }
               },
               error:function(error){
                   console.log(error);
               }
           })
           return false;
       })
    //    DeleteTodo
    $('.delete_todo').click(function(){
        $.ajax({
           url:$(this).attr('data-url'),
           type:'get',
           dataType:'json',
           beforeSend:function(){
               console.log($(this).attr('data-url'));
           },
           success:function(response){
               if(response){
                   console.log(response.status);
                   DisplayDataOnPageLoad()

               }
           }
       })  
    })
    
    // EditTodo
$('.edit_todo').click(function(){
    $.ajax({
        url:$(this).attr('data-url'),
        type:'get',
        dataType:'json',
        beforeSend:function(){
            console.log('before');
        },
        success:function(response){
            $("#modal-book .modal-content").html(response.edit_form);
            $("#modal-book").modal("show");  // <-- Close the modal
        },
        error:function(error){
            console.log(error);
        }
    })
})

       })

  </script>

  <style>
      ul li:nth-of-type(even) {
  background-color: #f3f2f8;
  
}

  </style>